body {
    background-color: #0489bf;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Faz com que o body ocupe a tela toda */
    margin: 0; /* Remove margens padrão */
}

.divDoMeio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 300px; /* Defina uma largura para manter a estrutura */
    height: 200px; /* Defina uma altura */
}
    
    .div1 { grid-area: 1 / 1 / 3 / 2;
        background-color: #fff;
    }

    .div2 { grid-area: 1 / 2 / 2 / 3;
    background-color: #fff;
    }
    .div3 { grid-area: 1 / 3 / 2 / 4;
        background-color: #fff;
    }
    .div4 { grid-area: 2 / 2 / 3 / 3;
        background-color: #fff;
    }
    .div5 { grid-area: 2 / 3 / 3 / 4;
        background-color: #fff;
    }
