@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');



:root{
--fundo-branco: #fff;
--botoes-UI: #04bf7b;
--botoes-UI-Hover: rgba(4, 191, 123, 0.5);
--fundo-UI: #f2c84b;
--fundo-Azul: #0489bf;
}

#menuCima{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Ajusta para centralizar */
    width: 90%;
    background-color: var(--fundo-UI);
    padding: 15px;
    text-align: center;
    justify-content: center;
    z-index: 10;
    border-radius: 50px 50px 50px 50px;
    box-sizing: border-box;
    color: var(--fundo-branco);
    margin-top: 1%;
    }

.divMenuCima{
    cursor: url('/imagens/mouse/setaClique.cur'), pointer;
    transition:  0.3s;
    display: inline-flex;
    gap: 10px;
    background-color: var(--botoes-UI);
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
    min-width: 120px;
    letter-spacing: 1px;
}

.divMenuCima:hover{
    cursor: url('/imagens/mouse/setaClique.cur'), pointer;
    background-color: var(--botoes-UI-Hover);
    transform: scale(1.2);
    transition:  0.3s;
}


body {
font-family: 'Fredoka', sans-serif;
cursor: url('/imagens/mouse/setaPadrao.cur'), auto;

margin: 0;
padding: 0;

    background-color: var(--fundo-Azul);
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Faz com que o body ocupe a tela toda */
    margin: 0; /* Remove margens padrão */
}

h1, h2 {
    font-family: 'Bangers', cursive;
}

p, a {
    font-family: 'Fredoka', sans-serif;
}

a {
    cursor: url('/imagens/mouse/setaClique.cur'), pointer;
}


.divDoMeio {

    margin-top: 0.5%;
    display: grid;

    grid-column-gap: 15px;
    grid-row-gap: 15px;

    width: 85vw; 
    height: 80vh; 

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

#riveCanvas {
    width: 100%;
    height: 100%;
    display: block; /* Evita espaços extras */
}

.div1 { 
    grid-area: 2 / 1 / 4 / 3; /* Agora ocupa da linha 1 até a linha 3, e da coluna 1 até a coluna 3 */
    background-color: #b8f1f4;
    border-radius: 12px;
    overflow: hidden;
    display: flex;

    align-items: center; /* Centraliza na vertical */
    justify-content: center; /* Centraliza na horizontal */
    border: 5px solid white;
    position: relative; /* Garante que os filhos absolutos fiquem dentro dela */
}

.div2 { 
    grid-area: 2 / 3 / 3 / 4; /* Agora ocupa da linha 1 até a linha 3, e da coluna 1 até a coluna 3 */
    background-color: var(--fundo-branco);
    border-radius: 12px;
    overflow: hidden;

    display: flex;
    align-items: center; /* Centraliza na vertical */
    justify-content: center; /* Centraliza na horizontal */
    position: relative; /* Garante que os filhos absolutos fiquem dentro dela */

    border: 5px solid var(--fundo-branco);


}

.imgDivHome{
    transform: scale(1);
    transition: 2s;
}

.imgDivHome:Hover{
    transform: scale(1.2);
    transition: 2s;
}

.div3 { 
    grid-area: 3 / 3 / 4 / 4; /* Mantém a posição original */
    background-color: var(--fundo-branco);
    border-radius: 12px;
    overflow: hidden;

    display: flex;
    align-items: center; /* Centraliza na vertical */
    justify-content: center; /* Centraliza na horizontal */
    position: relative; /* Garante que os filhos absolutos fiquem dentro dela */

    border: 5px solid var(--fundo-branco);
    
}

.div4 { 
    grid-area: 2 / 4 / 3 / 5; /* Mantém a posição original */
    background-color: var(--fundo-branco);
    border-radius: 12px;
    overflow: hidden;

    display: flex;
    align-items: center; /* Centraliza na vertical */
    justify-content: center; /* Centraliza na horizontal */
    position: relative; /* Garante que os filhos absolutos fiquem dentro dela */

    border: 5px solid var(--fundo-branco);


}

.div5 { 
    grid-area: 3 / 4 / 4 / 5; /* Mantém a posição original */
    background-color: var(--fundo-branco);
    border-radius: 12px;
    overflow: hidden;

    display: flex;
    align-items: center; /* Centraliza na vertical */
    justify-content: center; /* Centraliza na horizontal */
    position: relative; /* Garante que os filhos absolutos fiquem dentro dela */

    border: 5px solid var(--fundo-branco);

}

.barrinhaDivsMenu{
    cursor: url('/imagens/mouse/setaClique.cur'), pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 100%;
    width: 100%;
    background-color: var(--fundo-branco);
    position:absolute ;
    z-index: 2;
    top: 85%;
    border-radius: 50px;
    box-sizing: border-box;
    transition:  0.3s;
}

.barrinhaDivsMenu:hover{

    cursor: url('/imagens/mouse/setaClique.cur'), pointer;
    transition:  0.3s;
    top: 70%;
}

.barrinhaDivsMenu h2{
    align-items: center; /* Centraliza na vertical */
    justify-content: center; /* Centraliza na horizontal */
    letter-spacing: 1.5px;
    color: var(--fundo-Azul);
    transition:  0.3s;
    position:absolute ;
    top: -0.7vh;
    transform: scale(1.2);

}

.barrinhaDivsMenu:hover h2{
    color: var(--botoes-UI);
    transition:  0.3s;
    transform: scale(1.5);
    top: 5%;
}