:root {
    --fundo-branco: #fff;
    --botoes-UI: #04bf7b;
    --botoes-UI-Hover: rgba(4, 191, 123, 0.5);
    --fundo-UI: #f2c84b;
    --fundo-Azul: #0489bf;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li { 
    list-style-type: none;
}

.slideshow-container {
    position: relative;
    height: 100vh;

}

.slides {
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.slide[data-active]{
    display: block;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.previous-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 56px;
    height: 56px;
    font-size: 32px;
    font-weight: bold;
 }

 .previous-button, .next-button{
    background-color: var(--fundo-UI);
    border: none;
    border-radius: 50px;
    margin-left: 25px;
    margin-right: 25px;
    transition: 0.2s;
    color: var(--fundo-Azul);
}

.previous-button:hover, .next-button:hover{
    background-color: var(--botoes-UI);
    border: none;
    border-radius: 50px;
    transition: 0.2s;
    color: var(--fundo-branco);
}

 .previous-button{
    left: 0;
 }

 .next-button {
    right: 0;
    
 }

 .fade {
    animation: entrando;
    animation-duration: 1.2s;
 }

 @keyframes entrando {
    from{
        opacity: 0.5;
        transform: scale(1.2);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
 }